<div class="w-full">
  <div class="flex items-center justify-between">
    <div class="inline-flex rounded-lg border border-gray-200 bg-white p-0.5">
      <button
        *ngFor="let r of ranges"
        type="button"
        class="rounded-md px-3 py-1 text-xs font-medium transition"
        [class.bg-[#1a73e8]]="range === r"
        [class.text-white]="range === r"
        [class.text-gray-600]="range !== r"
        [class.hover:bg-gray-100]="range !== r"
        (click)="onRangeSelect(r)"
      >
        {{ r }}
      </button>
    </div>
  </div>

  <div class="relative mt-3 h-64 w-full" [class.opacity-60]="loading">
    <div *ngIf="loading" class="absolute inset-0 z-10 flex items-center justify-center rounded-lg bg-white/70">
      <app-loading-spinner [diameter]="36" />
    </div>
    <canvas
      baseChart
      [type]="lineChartType"
      [data]="lineChartData"
      [options]="lineChartOptions"
    >
    </canvas>
  </div>
</div>
